.reveal .slides {
  font-family: Helvetica, sans-serif;
  font-size: 70%;
  font-weight: normal;
color: #222; }

.reveal p span.slide-title {
  padding: 4px 15px;
  border-radius: 15px;
  font-family: Helvetica, sans-serif;
}
